// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;

$font-secondary: "Oswald", sans-serif;
$font-primary: "Poppins", sans-serif;

$main-color: #00adb5;
$secondary-color: rgba(238, 238, 238, 0.75);
$details: rgba(0, 173, 181, 0.2);
$bg-color: #222831;
$dark: rgba(57, 62, 70, 0.75);
$color-white: #fff;
$border: rgba(238, 238, 238, 0.1);
$bg-blur: rgba(57, 62, 70, 0.5);
$logo-color: #eeeeee;

$transition: 0.3s all ease-in-out;
