.about-wrapper {
  margin-top: 300px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  @include desktop-small {
    flex-direction: column;
    width: 100%;
    margin-top: 100px;
  }
  @include mobile {
    margin-top: 0;
    margin-bottom: 30px;
  }
}

.about {
  border-bottom: 1px solid $border;
  margin-bottom: 132px;
  @include mobile {
    margin-bottom: 30px;
  }
  &__info {
    max-width: 395px;
    position: relative;
    @include desktop-small {
      max-width: 100%;
      margin: auto;
    }
    &::before {
      position: absolute;
      content: "";
      background: url("./img/icons/music-icon.svg") no-repeat;
      left: 0;
      top: -96px;
      width: 62px;
      height: 50px;
      color: $details;
      @include mobile {
        display: none;
      }
    }
    &::after {
      position: absolute;
      content: "";
      background: url("./img/icons/lightbulb.svg") no-repeat;
      right: -15px;
      top: 10px;
      width: 73px;
      height: 95px;
      color: $details;
      animation: text-blur-out 5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.3s
        infinite both;
      @keyframes text-blur-out {
        0% {
          filter: blur(0.01);
        }
        100% {
          filter: blur(12px) opacity(0%);
        }
      }
      @include mobile {
        display: none;
      }
    }
  }

  &__info-title {
    @include text($font-primary, 700, 64px, 96px, $color-white);
    margin-top: 30px;
    &:hover {
      animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.2s
        both;
      @keyframes text-focus-in {
        0% {
          filter: blur(12px);
          opacity: 0;
        }
        100% {
          filter: blur(0px);
          opacity: 1;
        }
      }
    }
    @include desktop-small {
      text-align: center;
    }
    @include mobile {
      font-size: 46px;
    }
    span {
      color: $main-color;
    }
  }

  &__info-desc {
    @include text($font-primary, 400, 18px, 27px, $secondary-color);
    a {
      transition: $transition;
    }
    a:hover {
      color: $main-color;
    }
    @include desktop-small {
      font-size: 20px;
    }
  }

  &__img {
    position: relative;
    @include desktop-small {
      margin: auto;
      width: 100%;
      text-align: center;
      flex-shrink: 1;
    }
    &::after {
      content: "";
      position: absolute;
      background: url("./img/icons/ellipse.svg") no-repeat;
      width: 348px;
      height: 24px;
      left: 160px;
      bottom: -10px;
      z-index: -1;
      @include desktop-small {
        display: none;
      }
    }
  }
}
