.contacts {
  .container {
    position: relative;
  }
  &__title {
    padding-top: 146px;
    @include text($font-primary, 700, 64px, 96px, $color-white);
    margin-bottom: 55px;
    &:hover {
      animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.2s
        both;
      @keyframes text-focus-in {
        0% {
          filter: blur(12px);
          opacity: 0;
        }
        100% {
          filter: blur(0px);
          opacity: 1;
        }
      }
    }
    @include desktop-small {
      text-align: center;
      padding-top: 80px;
    }
    @include mobile {
      font-size: 44px;
    }
    span {
      color: $main-color;
    }
  }

  &__info {
    max-width: 388px;
    margin-bottom: 160px;
    @include desktop-small {
      margin: auto;
      margin-bottom: 25px;
    }
  }

  &__item {
    margin-bottom: 10px;
  }

  &__info-title {
    @include text($font-primary, 700, 18px, 27px, $main-color);
  }

  &__info-link {
    display: inline-block;
    transition: $transition;
    @include text($font-primary, 400, 16px, 24px, $secondary-color);
    &:hover {
      transform: scale(1.2);
    }
  }

  &__img {
    position: absolute;
    right: -670px;
    top: 172px;
    width: 100%;
    &:hover {
      animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.2s
        both;
      @keyframes text-focus-in {
        0% {
          filter: blur(12px);
          opacity: 0;
        }
        100% {
          filter: blur(0px);
          opacity: 1;
        }
      }
    }
    @include desktop-small {
      display: none;
    }
  }
}
