.footer {
  border-top: 1px solid $border;
  padding: 34px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mobile {
    text-align: center;
  }
}
.footer-nav {
  &__ul {
    display: flex;
    gap: 55px;
    @include mobile {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      align-items: center;
      gap: 25px;
    }
  }

  &__a {
    @include text($font-primary, 400, 18px, 27px, $logo-color);
    transition: $transition;
    display: inline-block;
    &:hover {
      color: $main-color;
      transform: scale(1.2);
    }
  }
}
