.works {
  padding-bottom: 151px;
  background: url("./img/icons/items-bg.svg");
  &__title {
    @include text($font-primary, 700, 64px, 96px, $color-white);
    padding-top: 179px;
    margin-bottom: 48px;
    @include desktop-small {
      font-size: 44px;
      text-align: center;
      padding-top: 80px;
    }
    span {
      color: $main-color;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 48px;
    @include desktop-small {
      grid-template-columns: 1fr;
      width: 100%;
      max-width: 100%;
    }
  }
  &__item-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    &:hover .overlay {
      opacity: 1;
    }
  }
  &__item {
    max-width: 368px;
    padding: 61px 52px;
    border-radius: 16px;
    background: $dark;
    transition: $transition;
    cursor: pointer;
    @include desktop-small {
      max-width: 100%;
    }

    filter: blur(3px);
    &:hover {
    }
    img {
      width: 265px;
      height: 168px;
      @include desktop-small {
        height: 100%;
        width: 100%;
      }
    }
  }
}
.overlay {
  padding: 25px 32px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
  transition: $transition;
  z-index: 5;
  display: flex;
  flex-direction: column;
  &__title {
    @include text($font-primary, 700, 16px, 24px, $logo-color);
    margin-bottom: 10px;
    @include desktop-small {
      font-size: 30px;
    }
  }

  &__desc {
    @include text($font-primary, 400, 14px, 21px, $logo-color);
    margin-bottom: 26px;
    flex-grow: 1;
    @include desktop-small {
      font-size: 24px;
      color: #00adb5;
      font-weight: 500;
    }
  }

  &__btn {
    @include text($font-primary, 700, 18px, 27px, $logo-color);
    padding: 10px 32px;
    display: inline-block;
    border-radius: 24px;
    max-width: 130px;
    text-align: center;
    @include desktop-small {
      max-width: 100%;
      padding: 15px 32px;
    }
  }
}
